In [1]:
# Read Medabstracts dataset

In [2]:
import pandas as pd

In [5]:
train_data = pd.read_csv("data/medabstracts/medical_tc_train.csv")
test_data = pd.read_csv("data/medabstracts/medical_tc_test.csv")

In [7]:
train_data.groupby("condition_label").count()

                 medical_abstract
condition_label
1                            2530
2                            1195
3                            1540
4                            2441
5                            3844

In [6]:
train_data[""]

   condition_label                                   medical_abstract
0                3  Obstructive sleep apnea following topical orop...
1                5  Neutrophil function and pyogenic infections in...
2                5  A phase II study of combined methotrexate and ...
3                1  Flow cytometric DNA analysis of parathyroid tu...
4                4  Paraneoplastic vasculitic neuropathy: a treata...